:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-s: 0.75rem;
  --spacing-m: 1rem;
  --spacing-l: 1.25rem;
  --spacing-xl: 1.75rem;
  --spacing-xxl: 2.5rem;
  --spacing-xxxl: 3.75rem;

  --primary-color: #8c90a0;
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}

header {
  background-color: var(--primary-color);
  height: 300px;
  margin-bottom: var(--spacing-m);
}

section {
  width: 100%;
  margin: 0 var(--spacing-m);
  
}

footer {
  background-color: var(--primary-color);
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer p {
  padding: 0 var(--spacing-m);
}
